<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Course Details</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Course Details</h1>-->
<!--<h2>Title: <span th:text="${course.title}"></span></h2>-->
<!--<h2>Description: <span th:text="${course.description}"></span></h2>-->
<!--<h2>Instructor: <span th:text="${course.instructor}"></span></h2>-->

<!--<h3>Related Documents</h3>-->
<!--<ul>-->
<!--  <li th:each="document : ${documents}">-->
<!--    <a th:href="@{/documents/{id}(id=${document.id})}" th:text="${document.title}"></a>-->
<!--  </li>-->
<!--</ul>-->

<!--&lt;!&ndash; Button to add a new document &ndash;&gt;-->
<!--<a th:href="@{/documents/create/{courseId}(courseId=${course.id})}">Add Document</a>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Arsha Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="index.html">Course Manager</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <a th:href="@{/courses/add}" class="buy-btn">add</a>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

<main id="main">

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Course</h2>
      </div>

        <div class="col-xl-12 col-md-12 align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 th:text="${course.title}"></h4>
            <p th:text="${course.description}"></p>
            <p th:text="${course.instructor}"></p>
            <br>

            <h3>Related Documents</h3>
            <div>Number of documents</div><div th:text="${numberDocs}"></div>
            <div class="row">
              <div th:each="document : ${documents}" class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <p th:text="${document.title}"></p><br>
                <a th:href="@{/documents/edit/{documentId}(documentId=${document.id})}">edit</a><br>
                <form th:action="@{/documents/delete/{documentId}(documentId=${document.id})}" method="post">
                  <button type="submit" class="buy-btn">Delete</button>
                </form>
              </div>
            </div>

            <a th:href="@{/documents/create/{courseId}(courseId=${course.id})}">Add Document</a>
          </div>

        </div>

    </div>
  </section><!-- End Services Section -->

</main><!-- End #main -->

<!-- Vendor JS Files -->
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>

</html>