<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <title>Edit Course</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Edit Course</h1>-->
<!--<form th:action="@{/courses/{id}/edit(id=${course.id})}" method="post" th:object="${course}">-->
<!--  <input type="hidden" th:field="*{id}">-->

<!--  <label for="title">Title:</label>-->
<!--  <input type="text" id="title" name="title" th:field="*{title}">-->

<!--  <label for="description">Description:</label>-->
<!--  <input type="text" id="description" name="description" th:field="*{description}">-->

<!--  <label for="instructor">Instructor:</label>-->
<!--  <input type="text" id="instructor" name="instructor" th:field="*{instructor}">-->

<!--  <button type="submit">Save</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Add Course</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>

<h1>Edit Course</h1>
<main id="main">
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <form th:action="@{/courses/{id}/edit(id=${course.id})}" method="post" th:object="${course}" role="form">
        <div class="row">
          <input type="hidden" th:field="*{id}">
          <div class="form-group col-md-6">
            <label for="title">Title</label>
            <input class="form-control" type="text" id="title" name="title" th:field="*{title}" required="">
          </div><br>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" rows="5"  type="text" id="description" name="description" th:field="*{description}" required=""></textarea>
          </div><br>
          <div class="form-group col-md-6">
            <label for="instructor">Instructor</label>
            <input class="form-control" type="text" id="instructor" name="instructor" th:field="*{instructor}" required="">
          </div><br>
          <div class="text-center buy-btn"><button type="submit">Edit</button></div>
        </div>
      </form>
    </div>
  </section>
</main>

<!-- Vendor JS Files -->
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
</body>

</html>